.ranking-view{
	width:100%;
	height:auto;
	overflow: hidden;
	padding-top:46px;
	background:#FFF;
	position:relative;
	z-index: 1000;
}
.ranking-title{
	width:100%;
	height:0.5rem;
	max-height: 32px;
	line-height: 32px;
	padding:0 0.2rem;
	font-size: 14px;
	font-weight: bold;
}
.ranking-item{
	width:100%;
	height:1.9rem;
	max-height: 140px;
	padding:0 0.1rem;
	display:flex;
}
.ranking-img{
	width:1.8rem;
	max-height: 132px;
	max-width: 132px;
	height:1.8rem;
	margin:4px 0;
	flex:0 0 auto;
	margin-right:0.4rem;
}
.ranking-list{
	flex:1 1 auto;
	display:flex;
	border-bottom:1px solid #F0F1F2;
	flex-direction: column;
	justify-content: flex-start;
	padding:0.1rem 0;
}
.ranking-list > div{
	flex:1 1 auto;
	display:flex;
}
.ranking-list-item > div{
	display:inline-block;
	display:flex;
	align-items: center;
}
.ranking-item-name{
	overflow: hidden;
	max-width: 4rem;
	width:auto;
	height:0.6rem;
	max-height: 40px;
	overflow: hidden;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ranking-item-singer{
	flex:1 1 auto;
	margin-left:2px;
	max-height:40px;
	height:0.6rem;
	overflow: hidden;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color:#999;
}




























































